// Primary color
$primary-bright-red: hsl(12, 88%, 59%);
$primary-dark-blue: hsl(228, 39%, 23%);

// Secondary Color
$secondary-dark-grayuish-blue: hsl(227, 12%, 61%);
$secondary-dark-blue: hsl(233, 12%, 13%);
$secondary-pale-red: hsl(13, 100%, 96%);
$secondary-light-gray: hsl(0, 0%, 98%);
