@use "../sass-utils/variables" as c;

header {
  background-image: url("/assets/icons/bg-simplify-section-desktop.svg");
}

.home {
  &__main-content {
    h1 {
      font-size: 3.25rem;
      font-weight: 700;
      color: c.$primary-dark-blue;
    }

    p {
      color: #7a7a7a;
      width: 400px;
      margin: 1rem 0;
    }
  }
}
