@use "../sass-utils/variables" as c;

header {
  background-image: url("/assets/icons/bg-simplify-section-desktop.svg");
}

.home {
  &__main-content {
    h1 {
      font-size: 3.25rem;
      font-weight: 700;
      color: c.$primary-dark-blue;
    }

    p {
      color: #7a7a7a;
      width: 400px;
      margin: 1rem 0;
    }
  }
}

.simplify {
  background-color: c.$primary-bright-red;
  background-image: url("/assets/icons/bg-simplify-section-desktop.svg");

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;

    h1 {
      font-weight: 700;
      color: c.$white;
      font-size: 2.5rem;
      width: 500px;
    }
  }

  &__btn {
    background-color: c.$white;
    color: c.$primary-bright-red;
  }
}

.about {
  &__section_head {
    font-size: 2.25rem;
  }
  &__section {
    padding: 2rem 0;
    p {
      color: #7a7a7a;
    }

    h2,
    h6 {
      color: c.$primary-dark-blue;
    }
  }
  &__list {
    p {
      margin-top: 1rem;
    }
  }

  &__list-number {
    background-color: c.$primary-bright-red;
    color: #fff;
    border-radius: 15px;
    padding: 5px 15px;
  }
}

.testomonial {
  &__head {
    color: c.$primary-dark-blue;
    text-align: center;
    font-weight: 700;
  }
}
